<%- include ('layout/entete') %>
<div class="flex w-full items-center justify-center pt-10">

    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        <form class="space-y-6"  action="/connexion" method="post">
            <h5 class="text-xl font-medium text-gray-900 dark:text-white">Connectez-vous . . .</h5>
            <div>
                <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom utilisateur</label>
                <input type="text" name="nom" id="nom" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5 " placeholder="Votre nom utilisateur" required />
            </div>
            <div>
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="Entrer votre mot de passe" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5 "/>
                   <button type="submit" class="w-full mt-5 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Se connècter</button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                Veuillez contacter l'administrateur si vous avez oublié votre mot de passe
            </div>
        </form>
    </div>
    
</div>


<%- include ('layout/footer') %>